@media only screen and (min-width:200px) and (max-width:550px){
  
    .main{
        width: 100%;
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

     .head{
        flex-wrap: wrap;
        width: 100%;
      /* justify-content: center; */
    } 

    .head .logo{
        margin: auto;
    width: 120px;
    height: 50%;
    padding: 0;
   
    }
    .head .menu{
     padding: 0;
     }

     .head .menu ul{
            text-align: center;
            margin-top: 10px;
       }

       .head .menu ul .in{
        display: none;
    }

    .main .head .b1{
    /* display: none; */
    width:40%;
    margin: auto;
    display:inline;
    position: relative;
    padding-top: 0;
    height: 30px;
    right: 0;
    text-align: center;
    font-size: 15px;
    /* left: 0; */
}

.main .head .b2{
    /* display: none; */
    width: 40%;
height: 30px;
    right: 0;
    margin: auto;
    font-size: 15px;
    position: relative;
    display:inline;
    padding-top: 0;
}

.menu1{
    height: 90px;
    display: none;
}

.main2{
    flex-wrap: wrap;
}

.main2 p{
min-width: 50%;
padding: 30px;
font-size: 17px;
}

.main3{
    width: 100%;
}

.main3 .m1{
    display: flex;
flex-wrap: wrap;
justify-content: center;
margin: 0;
width: 100%;
}

.main3 .m1 img{
    width: 80px;
    height: 50px;
    margin-left: 0;
    margin-bottom: 20px;
}

.main3  .m1 H2{
    text-align: center;
    /* width: 30%; */
    margin-left: 0;
    padding: 20px;
    line-height: 30px;
}

.main3  .m1 H3{
     /* width: 30%; */
    text-align: center;
    font-size:18px;
    padding: 20px;
    line-height: 30px;
}

.main3  .m1 ul{
    padding: 60px;
}

.main3  .m1 ul  li{
font-size: 18px;
line-height: 30px;
}

.main4 .r1{
    flex-wrap: wrap;
}
.main4 h1{
    text-align: center;
    margin-top:40px;
    font-size: 40px;
    letter-spacing: 1px;
    /* line-height: 30px; */
    color: #8b4a11ab;
    margin-bottom: 50px;
    text-decoration: underline;
    }

.main4 .r1 .c1{
    margin-bottom: 20px;
}

.main5 .r1{
    flex-wrap: wrap;
}

.main5 .r1 .c1{
    /* width: 100%; */
    margin-bottom: 20px;
    }

.main5 .r2{
flex-wrap: wrap;
width: 100%;
}

.main5 .r2 .c1{
    /* width: 100%; */
    margin-bottom: 20px;
    }

    .main6{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

    }
    .main6 h1{
        margin-bottom: 20px;
        text-align: center;
        font-size: 30px;

    }
    .main6 .col1{
        width: 100%;
        height:300px;
        margin: 0px 20px;
    }
    .main6 .col2{
        width: 100%;
        margin: 20px;
        /* height: 580px; */
   
    }
    .main6 .col2 h1{
        text-align: center;
    
        margin-bottom: 20px;
    }

    .main6 .col2 h3 span{
        text-align: center;
    }


    .main7 .section1{
       flex-wrap: wrap;
       width: 100%;
    }
    .main7 .section1 h1{
      
        padding: 0px 20px;
        margin-top:40px;
        margin-bottom: 0px;
    }
    .main7 .section1 p{
        text-align: justify;
        font-size: 20px;
        padding: 30px;
        line-height: 30px;
        
    }
    .main7 .section1 .r1{
        width: 100%;
        flex-wrap: wrap;
    }
    .main7 .section1 .r1 .c1{
        margin-bottom: 20px;
    }
    .main8{
      width: 100%;}
      
    .main8 .section1{
        
        width: 80%;
        height: 380px;
        background-color: #b0631c93;
        /* border: 1px solid black; */
    }
    .main8 .section1 h1{
        text-align: center;
        font-size: 15px;
        color: white;
        margin-top: 10px;
    }
    .main8 .section1 p{
        width: 80%;
        min-height: 30%;
        text-align: justify;
        /* margin-top: 10px; */
        color: white;
       word-spacing: 0;
        font-size: 15px;
         line-height: none; 
    }
    .main9 .r1{
        flex-wrap: wrap;
        width: 100%;
    }
    .main9 .r1 .c1{
        width: 100%;
        margin-bottom: 20px;
    }
    .main9 .r1 .c1 h2{
        color: rgb(14, 130, 213);
        margin-top: 40px;
        margin-left: 0;
        text-align: center;
        font-size: 30px;}

        .main9 .r1 .c1 h3{
            text-align: center;
            margin-top: 20px;
            margin-left: 0;
            font-size: 22px;
        }
        .main9 .r1 .c1 p{
            width: 80%;
            padding: 40px;
            text-align: justify;
            /* margin-top: 20px; */
            margin-left: 0px;
            
            font-size: 20px;
            word-spacing: none;
            /* letter-spacing: 0.2px ; */
            line-height: 30px;}

            .main9 .r1 .c1 img{
                width: 80%;
                margin-top:240px;
                 padding: 40px;
                height: 50%;
            }
            .main10{
                margin-bottom: 40px;
            }
            .main10 .r1{
                width: 100%;
                flex-wrap: wrap;
            }
            .main10 .r1 .c1{
                width: 100%;

            }
            .main10 .r1 .c1 img{
                width: 80%;
                /* margin-top:240px; */
                 padding: 30px;
                height: 80%;
            }


            .main10 .r1 .c2{
                width: 100%;
                display: flex;
                flex-wrap: wrap;
            }
            .main10 .r1 .c2 p{
                font-size: 18px;
                padding: 30px;
                margin-bottom: 15px;
            }

            .main10 .r1 .c2 .icons{
                flex-wrap: wrap;
                width: 100%;
                /* margin-bottom: 40px; */
            }
            .main10 .r1 .c2 .icons .icon1 img{
                padding: 0 0;
                margin: auto;

            
            }
       
            .main10 .r1 .c2 .icons .icon1{
                width: 100%;
                display: flex;
                flex-direction: column;
                height: 148px;
                /* border: 1px solid black; */
                /* display: inline-block; */}
                
.main11{
    width: 100%;
    /* height: 400px; */
    flex-wrap: wrap;
}
.main11 .r1{
    width: 100%;
    flex-wrap: wrap;

 
}.main11 .r1 .c1{
    width: 100%;

    border: 1px solid grey;
}
.main11 .r1 .c1 h1{
    
    margin: 10px 0

}
.main11 .r1 .c2 .r1{
    width: 100%;
    /* height: 150px; */
    border-radius: 10px;
    /* margin-bottom: 20px; */
    display: flex;
    flex-wrap: wrap;
    /* border: 1px solid black; */
}
.main11 .r1  .c3{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* height: 320px; */
  
    /* border-right: 2px  solid rgba(45, 42, 42, 0.822); */
}
.main11 .r1 .c3 .r1{
    width: 80%;
    margin: auto;
}

.main11 .r1 .c3 .r2{
    width: 80%;
    margin: auto;
    margin-top: 30px;
    display: flex;
    border-radius: 10px;
    height: 40px;
}
.main11 .r1 .c3 .r3{
    width: 80%;
    margin: auto;
    margin-top: 30px;
    display: flex;

    border-radius: 10px;
    height: 40px;
}
.main11 .r1 .c3 .r4{
    width: 100%;
    margin: auto;
display: flex;
flex-wrap: wrap;
   margin-left: 0;
}

.footer{
    width: 100%;

    /* height: 500px; */
    background-color: rgba(0, 0, 0, 0.891);
}    
.ftr{
    margin: auto;
    /* border: 1px solid black; */
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    /* height: 500px; */
}
.footer .ftr .f1{
    width: 100%;
    /* height: 450px; */
    /* border: 1px solid black; */

}

.footer .ftr .f2{
    width: 100%;
    /* height: 450px; */
    /* border: 1px solid black; */
    
}
.footer .ftr .f3{
    width: 100%;
    /* height: 450px; */
   
    /* border: 1px solid black; */
    
}